*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	background: #ad5389; /* fallback for old browsers */
	background: linear-gradient(
		to bottom,
		#3c1053,
		#ad5389
	);
}
